<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <h1>#{content}</h1>
    <!-- NOTE: use |#{content} '|'->pipe, if not inside any tags -->
    <h2>| Become a member of our Gym |</h2>
    <!-- Hello This is a plain html using pug :) -->
    <!-- NOTE:- first word, here Hello, not showing while opening the page -->
    
    <form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="number" name="age" id="age" placeholder="Enter your age">
        <input type="text" name="gender" id="gender" placeholder="Enter your gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
        <button class="btn">Submit</button>
    </form>
</body>
</html>