body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.box-red {
    background-color: red;
}

.panel {
    height: 100vh;
    background-color: pink;
}